*{
	width: auto;
	box-sizing: border-box;
	margin: 0;
}

body{
	font-family: 'Abhaya Libre', serif;
	color: #000;
	text-align: center;
}

a{
	text-decoration: none;
	color: #000;
}

a:hover{
	color: #FFB6C1;
}

h1{
	padding: 40px 0px 30px;	
	font-size: 60px;
}

h1 a:hover{
	color: #000;
}

.nav-bar{
	margin: 10px 50px 40px;
	font-size: 30px;
}


.nav-bar a{
	display: inline-block;
	color: #000;
	text-decoration: none;
	width: 20%;
}

.nav-bar a:hover{
	color: #FFB6C1;
}

.nav-icon{
	position: absolute;
	right: 50px;
	top: 15px;
	color: #000;
	font-size: 50px;
}


.cycle-slideshow { 
	width: 60% 
}

.slideshow{
	margin: auto;
}

.cycle-pager-active{
	color: #FFB6C1;
}

.post{
	margin: auto;
	display: block;
	float: left;
	width: 33.33%;
	height: 200px;
	padding: 40px;
	margin-top: 100px;
	margin-bottom: 100px;
	background-size: 400px;
	background-repeat: no-repeat;
}

.one{
	background-image: url(../images/post1.jpg);
}

.two{
	background-image: url(../images/post2.jpg);
}
.three{
	background-image: url(../images/post3.jpg);
}
.four{
	background-image: url(../images/post4.jpg);
}
.five{
	background-image: url(../images/post5.jpg);
}

img{
	display: block;
	width: 100%;
}

a .social-icon{
	width: 3%;
	float: left;
}



/*grid system*/

.grid-row { margin:0 -20px; } 
.grid-column {
	float:left;
	margin:0;
	padding:0 20px; /* match to .grid-container */
}

.grid-quarter  { width:25%; }
.grid-third { width:33.333%; } 
.grid-half { width:50%; }
.grid-two-third { width:66.667%; } 
.grid-three-quarter{ width:75%; }
.grid-whole{ width:100%; }



/*clearfix */

.clearfix:before,
.clearfix:after {
	display: table;
	content: '';
}

.clearfix:after {
	clear: both;
}