*{
	width: auto;
	box-sizing: border-box;
	margin: 0;
}

body{
	position: relative;
	font-family: 'Abhaya Libre', serif;
	color: #000;
	text-align: center;
	background-color: #FFF;
}

h2{
	font-size: 30px;
}

.menu{
	padding-top: 2%;
	padding-bottom: 1%;
	font-size: 25px;
	display: none;
	background-color: #f2f2f2;
}
@media screen and (max-width: 640px){
	.menu{
		display: block;
	}
}

.hidden-nav ul{
	list-style: none;
	display: none;
	padding: 3% 0;
}

.hidden-nav ul li{
	padding: 3% 0;
}

a{
	text-decoration: none;
	color: #000;
}

a:hover{
	color: #FFB6C1;
}

.icon {
	max-width: 8%;
	display: inline-block;
 }
 @media screen and (max-width: 640px){
 	.icon{
 		display: none;
 	}
 }


h1{
	/*padding: 40px 0px 10px;*/
	font-size: 60px;
	/*margin-left: 30px;*/
	display: inline-block;
	vertical-align: super;
	max-width: 90%
}

.brand {
	padding-top: 5%;
	padding-right: 5%;
}

h1 a:hover{
	color: #000;
}

.nav-bar{
	margin: 20px 50px ;
	font-size: 30px;
}
@media screen and (max-width: 640px){
	.nav-bar{
		display: none;
	}
}


.nav-bar a{
	display: inline-block;
	color: #000;
	text-decoration: none;
	width: 20%;
}

.nav-bar a:hover{
	color: #FFB6C1;
}


.about-icon{
	position: absolute;
	left: 50px;
	top: 5px;
	color: #000;
	font-size: 50px;
}
@media screen and (max-width: 640px){
	.about-icon{
		display: none;
	}
}
h5{
	font-size: 20px;
	text-align: left;
	padding-left: 40px;
}

.about-page{
	font-size: 25px;
	margin: 2em;
	display: none;
}

.cycle-slideshow { 
	width: 60% 
}

.slideshow{
	margin: auto;
}

.cycle-pager-active{
	color: #FFB6C1;
}



section{
	width: 85%;
	margin: auto;
}

h4 {
	position: relative;
	height: 250px;
	background-size: 390px;
	background-repeat: no-repeat;
	transition: all 1s ease;
	width: 33.33%;
	font-weight: normal;

}

@media screen and (max-width: 800px){
	h4{
		width: 50%
	}
}
@media screen and (max-width: 640px){
	 h4{
		width: 100%
	}
}

h3{
	text-align: left;
	font-weight: normal;
	font-size: 20px;
	vertical-align: middle;
	padding-top: 20px;
	color: #5c626d;
}

p{	
	background-color: rgba(255,255,255, 0.6);
	padding: 35% 0;
	/*visibility: hidden;*/
	display: none;
	font-size: 60px;
	font-weight: 
}

p.is-visible{
	display: block;
}



.one{
	background-image: url(../images/iceland1.jpg);
}
.two{
	background-image: url(../images/iceland2.jpg);
}
.three{
	background-image: url(../images/iceland3.jpg);
}
.four{
	background-image: url(../images/iceland4.jpg);
}
.five{
	background-image: url(../images/iceland5.jpg);
}
.six{
	background-image: url(../images/iceland6.jpg);
}

/*.heading{ 
	font-size: 30px;
	text-align: left;
	margin-left: 40px;
	margin-bottom: 10px;
	font-style: italic;
 }


.post{
	display: inline-block;
	float: left;
	height: 270px;
	width: 30%;
	background-size: 350px;
	background-repeat: no-repeat;
	transition: all 1s ease;
	margin-left: 3%;
}
@media screen and (max-width:800px) { 
	.post { 
		width: 40%; 
	}
}
@media screen and (max-width: 640px){
	.post{
		width: 100%;
	}
}
.post-link{
	width: 30%;
	height: 270px;
	margin: 40px 0;
}


.one{
	background-image: url(../images/post1.jpg);
}

.two{
	background-image: url(../images/post2.jpg);
}
.three{
	background-image: url(../images/post3.jpg);
}
.four{
	background-image: url(../images/post4.jpg);
}
.five{
	background-image: url(../images/post5.jpg);
}
.six{
	background-image: url(../images/tour8.jpg);
}*/


img{
	display: block;
	width: 100%;
}

a .social-icon{
	display: inline-block;
	width: 4%;
	float: left;
}
@media screen and (max-width: 640px){
	a .social-icon{
		width: 10%;
	}
}



/*grid system*/

.grid-row { margin:0 -20px; } 
.grid-column {
	float:left;
	margin:0;
	padding:0 20px; /* match to .grid-container */
}

.grid-quarter  { width:25%; }
.grid-third { width:33.333%; } 
.grid-half { width:50%; }
.grid-two-third { width:66.667%; } 
.grid-three-quarter{ width:75%; }
.grid-whole{ width:100%; }



/*clearfix */

.clearfix:before,
.clearfix:after {
	display: table;
	content: '';
}

.clearfix:after {
	clear: both;
}